extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Dmytro Bula
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hello, I'm Dmytro, I turn coffee into code.
            br
            |  I'm a front-end web developer/designer from Ukraine based in London, I love creating beatiful and functional websites,applications, and everything in between.
            br
            |  Well organised person, problem solver, employee with high attention to detail. Fan of esports, csgo, spaceX, outdoor activities, travelling.
            br
            |  The main area of my expertise is front-end web development and web designing. HTML, CCS, JavaScrpit, preprocessors SCSS and Less, frameworks jquery, react and node.js. Also making animations and illustations for web.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li Node.js
          li JavaScript
          li Teamwork
          li HTML/CSS 
          li SASS/LESS
          li Pug
          li Illustrations
          li Photoshop
          li Figma
        h6 Contact Info

        //- Add your own contact info
        ul
          li +4478467491
          li dmytro.bula21@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/dmytro-bula-74a56a1a5/') LinkedIn
        a.button.expanded(href='https://github.com/D1ma6') GitHub
        a.button.expanded(href='https://www.instagram.com/d1ma6/') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  