extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 I turn coffee into code

      //- Add a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
      p.lead.text-light
        | These are my projecsts that reflect my journey on my way to the Full-stack web developer
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each val, index in projects
        .cell
          a(href=`projects/${projects[index].id}`)
            img.thumbnail(src=`${projects[index].image_urls[0]}`)
            h5= projects[index].project_name
      
